.dayslot {
  padding-right: 1rem;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dayslot p {
  padding: 0.3rem 0;
  text-align: center;
  margin: 0;
  flex-basis: 25%;
  height: 40px;
}

.dayslot img {
  width: 40px;
  flex-basis: 25%;
}
