.footerContainer {
  display: flex;
  padding-top: 0.25rem;
  position: fixed;
  bottom: 0;
  background-color: #f6f6f6;
  width: 100%;
  max-width: 1080px;
  z-index: 1000;
}

.footerIcons {
  float: left;
  text-align: center;
  cursor: pointer;
  width: 33%;
}

.footerFirstIcon {
  color: #0078a5;
}

.footerIcon {
  cursor: pointer;
}

.footerIcon div {
  font-size: x-small;
  text-justify: auto;
}
