.footerContainer {
  position: sticky;
  bottom: 0;
  background-color: #f6f6f6;
  z-index: 1;
  height: 36px;
}

.footerWrapper {
  width: 100%;
  padding-top: 0.25rem;
}

.footerIcons {
  float: left;
  text-align: center;
  cursor: pointer;
  width: 33%;
}

.footerFirstIcon {
  color: #0078a5;
}

.footerIcon {
  cursor: pointer;
}

.footerIcon div {
  font-size: x-small;
  text-justify: auto;
}
