.footerContainer {
  display: flex;
  padding: 0.25rem 0;
  position: fixed;
  bottom: 0;
  background-color: #f6f6f6;
  width: 100%;
  max-width: 1080px;
  z-index: 1000;
}

.footerIcon {
  float: left;
  text-align: center;
  width: 33%;
  cursor: pointer;
}

.footerIcon div {
  font-size: x-small;
  text-justify: auto;
  padding-bottom: 0.1rem;
}

.footerFirstIcon {
  color: #0078a5;
}

@supports (padding: max(0px)) {
  .footerContainer {
    padding-bottom: max(0.25rem, env(safe-area-inset-bottom));
  }
}
