.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.locationName {
  margin-bottom: 0;
}

.locationPosition {
  font-size: smaller;
}

.timeslots {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
}

.refresh {
  background-color: inherit;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
  height: 100%;
  text-decoration: underline;
}

.lastUpdated {
  font-size: smaller;
  text-align: right;
}
