.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.locationName {
  margin-bottom: 0;
}

.locationPosition {
  font-size: smaller;
}

.timeslots {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
}

.refresh {
  background-color: inherit;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
  height: 100%;
  text-decoration: underline;
}

.lastUpdated {
  font-size: smaller;
  text-align: right;
}

.btnWrapper {
  /* border: 1px solid #000; */
}

.btn {
  padding: 0.6em;
  /* border-radius: 8px; */
  /* color:#fff;
  background-color:#1976d2; */
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  /* margin: 1em; */
  width: 100px;
}

.btnLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btnRight {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btnActive {
  color: #fff;
  background-color: #20455c;
}
