.locationData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.locationPosition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: smaller;
}

.timeslots {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: scroll;
  white-space: nowrap;
}
