html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: #122a3a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tile {
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 10px;
}

.tile h2 {
  margin-top: 0;
  font-size: 1rem;
}

:root {
  --met-office-blue-700: #1b4462;
  --met-office-blue-650: #294b60;

  --met-office-beige-300: #c6bfae;

  --primary-button: #0078a5; /* Colour grabbed from Dawn's wireframe */
}

@media screen and (width > 600px) and (height > 430px) {
  body {
    font-size: 110%;
  }

  .tile {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .tile h2 {
    font-size: 120%;
  }
}

@media screen and (width > 800px) and (height > 430px) {
  body {
    font-size: 120%;
  }

  .tile {
    margin-bottom: 1.5rem;
  }

  .tile h2 {
    font-size: 130%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 130%;
  }
}
