.navContainer {
  position: sticky;
  top: 0;
  background-color: var(--met-office-blue-700);
}

.elementContainer {
  display: flex;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
}

.iconsContainer {
  display: flex;
}

.iconContainer {
  padding-left: 20px;
}

.icon {
  cursor: pointer;
}
