.search label {
  font-weight: bold;
}

.search label span {
  font-weight: normal;
  display: block;
  font-size: smaller;
  color: #585858;
  margin-bottom: 0.5rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search input {
  border: 1px solid #888;
  border-radius: 2px;
  padding: 8px;
  margin: 0;
}

.search input[type='text'] {
  flex-basis: 75%;
  max-width: 600px;
  padding-left: 15px;
}

.search input[type='text']:focus {
  outline: 1px solid #555;
}

.search button {
  background-color: #0078a5;
  color: white;
  border-radius: 2px;
  border: 0;
  margin: 0;
  padding: 8px;
  flex-basis: 25%;
  /* max-width: 100px; */
}

@media screen and (min-width: 600px) {
  .search button {
    font-size: 90%;
  }
}

@media screen and (min-width: 800px) {
  .inputs {
    justify-content: flex-start;
  }

  .search input[type='text'] {
    flex-basis: 80%;
    max-width: 700px;
  }

  .search button {
    flex-basis: 20%;
  }
}
