.search label {
  font-weight: bold;
}

.search label span {
  font-weight: normal;
  display: block;
  font-size: smaller;
  color: #888;
  margin-bottom: 0.5rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search input {
  border: 1px solid #888;
  border-radius: 0;
  padding: 8px;
}

.search input[type='text'] {
  flex-basis: 75%;
  max-width: 400px;
  padding-left: 15px;
}

.search input[type='text']:focus {
  outline: 1px solid #555;
}

.search input[type='submit'] {
  background-color: var(--primary-button);
  color: white;
  flex-basis: 25%;
  max-width: 100px;
}

@media screen and (min-width: 429px) {
  .inputs {
    justify-content: flex-start;
  }

  .search input[type='submit'] {
    font-size: inherit;
    padding: 1rem 1.5rem;
    max-width: inherit;
  }
}
