.timeslot {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timeslot p {
  padding: 0.3rem 0;
  text-align: center;
  margin: 0;
  flex-basis: 25%;
}

.timeslot img {
  width: 40px;
  flex-basis: 25%;
}
