.timeslot {
  padding-right: 1rem;
  min-width: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timeslot p {
  padding: 0.75rem 0;
  text-align: center;
  margin: 0;
  flex-basis: 25%;
  height: 2.5rem;
}

.timeslot img {
  width: 40px;
  flex-basis: 25%;
}

@media screen and (min-width: 391px) {
  .timeslot {
    min-width: 70px;
  }
}

@media screen and (min-width: 600px) {
  .timeslot {
    min-width: 100px;
    padding-right: 1.3rem;
  }

  .timeslot p {
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 800px) {
  .timeslot {
    min-width: 122px;
  }

  .timeslot img {
    width: 45px;
  }
}

@media screen and (min-width: 1000px) {
  .timeslot {
    min-width: 130px;
    padding-right: 1.5rem;
  }
}
