@keyframes fadeout {
  from {
    background-color: #c6bfae;
  }
  to {
    background-color: inherit;
  }
}

.timestamp {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.lastUpdated {
  font-size: smaller;
  padding: 0.3rem;
  margin-left: -0.3rem;
}

.refreshed {
  animation-name: fadeout;
  animation-duration: 1s;
}
