.timeslot {
  padding-right: 1rem;
  min-width: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timeslot p {
  padding: 0.3rem 0;
  text-align: center;
  margin: 0;
  flex-basis: 25%;
  height: 40px;
}

.timeslot img {
  width: 40px;
  flex-basis: 25%;
}

@media screen and (min-width: 391px) {
  .timeslot {
    min-width: 70px;
  }
}

@media screen and (min-width: 429px) {
  .timeslot {
    min-width: 110px;
  }
}
