.videoContainer {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%; /* force 16:9 aspect ratio */
}

.videoContainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.closeIcon {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 99999999;
  color: white;
  display: none;
}
