.underForecastContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.scrollIconContainer {
  display: flex;
  justify-content: flex-end;
}

.scrollIconContainer > button {
  border: 2px solid #0078a5;
  border-radius: 4px;
  display: flex;
  position: relative;
  min-width: 50%;
  margin-left: 5px;
  padding: 0.6em 1.6em;
}

.iconDisabled {
  color: #0078a5;
  background-color: #ffffff;
}

.iconActive {
  color: #ffffff;
  cursor: pointer;
  background-color: #0078a5;
}

.iconActive p {
  margin: 0;
}

.iconDisabled p {
  margin: 0;
}

.iconLeft,
.iconRight {
  position: absolute;
  top: 9px;
}

.iconRight {
  right: 3px;
}

.iconLeft {
  left: 3px;
}

.link {
  margin: 0px;
  padding: 0.6em 0;
  font-size: smaller;
  color: #0078a5;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .iconActive,
  .iconDisabled {
    font-size: 90%;
  }

  .iconLeft,
  .iconRight {
    top: 12px;
  }
}

@media screen and (min-width: 800px) {
  .iconActive,
  .iconDisabled {
    font-size: inherit;
  }

  .iconLeft,
  .iconRight {
    top: 15px;
  }
}
